.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 85%;
    max-width: 400px;
    height: 25px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center; 
    margin-right: auto;
    margin-left: auto;
}
.react-datepicker-ignore-onclickoutside {
  width: 100% !important;
}